[submodule "website/3party/academicons"]
	path = website/3party/academicons
	url = https://github.com/jpswalsh/academicons
[submodule "website/3party/bulma"]
	path = website/3party/bulma
	url = https://github.com/jgthms/bulma
[submodule "website/3party/Font-Awesome"]
	path = website/3party/Font-Awesome
	url = git@github.com:FortAwesome/Font-Awesome.git
